---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Icon } from "astro-icon";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <Container>
    <div class="flex max-w-screen-lg mx-auto gap-20">
      <div class="w-full sm:mb-40 mb-20">
        <div class="mt-12">
          <h1 class="text-4xl font-semibold mb-3 text-neutral-800 leading-snug">
            {entry.data.title}
          </h1>
          <time
            class="text-gray-400"
            datetime={entry.data.publishDate.toISOString()}>
            {entry.data.publishDate.toDateString()}
          </time>
          <img
            class="w-full rounded-lg mt-8"
            src={entry.data.image.src}
            class="personal_photo rounded-xl flex-none w-[20rem] h-[24rem]"
          />
        </div>

        <div class="prose prose-lg mt-6">
          <Content />
        </div>
      </div>
      <div class="flex-shrink-0 mt-12 sm:flex hidden">
        <div class="w-60">
          <img
            class="rounded-md"
            src="https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/c479d4d5-ea7c-48da-df9b-d034eed9da00/public"
            class="personal_photo rounded-xl flex-none w-[20rem] h-[24rem]"
          />
          <div class="text-neutral-500 mt-6 leading-7">
            我是一名产品设计师，喜欢创造和分享，对一人事业充满热情，目前正在建立我的
            Newsletter，并分享一路上的经验教训。
          </div>
          <div class="flex gap-4 mt-6">
            <a
              href="https://twitter.com/zuozizhen"
              target="_blank"
              class="social-button bg-neutral-100 hover:bg-neutral-200 transition rounded-xl w-[2.6rem] h-[2.6rem] p-3"
              ><Icon name="mdi:twitter" alt="" class="text-neutral-700" /></a
            >
            <a
              href="mailto:me@zuozizhen.com"
              class="social-button bg-neutral-100 hover:bg-neutral-200 rounded-xl w-[2.6rem] h-[2.6rem] p-3"
              ><Icon name="ic:round-mail" alt="" class="text-neutral-700" /></a
            >
            <!-- <a href="" class="social-button bg-neutral-100 hover:bg-neutral-200 rounded-xl w-[2.6rem] h-[2.6rem] p-3"><Icon name="official-accounts" alt="" class="text-neutral-700"/></a> -->
          </div>
        </div>
      </div>
    </div>
  </Container>
</Layout>
