---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import ArrowMotion from "@components/ArrowMotion.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedProjectEntries = await getCollection("project", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedProjectEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Blog">
  <Container>
    <main class="mt-16">
      <ul class="grid grid-cols-2 gap-10 max-w-screen-lg mx-auto">
        {
          publishedProjectEntries.map((projectPostEntry, index) => (
            <li>
              <a href={`/project/${projectPostEntry.slug}`}>
                <div class="">
                  <Picture
                    src={projectPostEntry.data.image.src}
                    alt={projectPostEntry.data.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    widths={[200, 400, 800]}
                    aspectRatio="16:9"
                    background="#ffffff"
                    fit="cover"
                    position="center"
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md"
                  />
                  <div>
                    <div class="arrow-motion mt-4 flex items-center">
                      <h2 class=" text-lg font-semibold leading-snug tracking-tight text-neutral-800">
                      {projectPostEntry.data.title}
                      </h2>
                      <ArrowMotion/>
                    </div>


                    <div class="flex gap-1 mt-1 text-sm">
                      <time
                        class="text-gray-500"
                        datetime={projectPostEntry.data.publishDate.toISOString()}>
                        {projectPostEntry.data.publishDate.toDateString()}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
