---
import { Image } from 'astro:assets';
import { getCollection } from "astro:content";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---
<section class="introduction relative py-12">
  <div class="max-w-screen-lg mx-auto px-0 space-y-7">
    <div class="space-y-2">
      <h2 class="text-2xl font-semibold">
        文章
      </h2>
      <div class="text-neutral-500 text-lg">我会写关于我感兴趣方向的文章</div>
     </div>

     <ul class="grid sm:grid-cols-2 grid-cols-1 gap-10 w-full">
        {
          publishedBlogEntries.slice(0, 2).map((blogPostEntry, index) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="">
                  <img
                    src={blogPostEntry.data.image.src}
                    alt={blogPostEntry.data.image.alt}
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md aspect-[16/9] object-cover"
                  />
                  <div>
                    <h2 class="text-lg font-semibold leading-snug tracking-tight mt-4 text-neutral-800">
                      {blogPostEntry.data.title}
                    </h2>

                    <div class="flex gap-1 mt-1 text-sm">
                      <time
                        class="text-gray-500"
                        datetime={blogPostEntry.data.publishDate.toISOString()}>
                        {blogPostEntry.data.publishDate.toDateString()}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <a href="/blog" class="block font-semibold mt-6 hover:opacity-70 transition">
        更多文章 ->
      </a>
  </div>
</section>
