---
import { Picture } from "@astrojs/image/components";
import { getCollection } from "astro:content";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---
<section class="introduction relative py-12">
  <div class="max-w-screen-lg mx-auto px-10 lg:px-0">
    <div class="space-y-2 mb-7">
      <h2 class="text-2xl font-semibold">
        实时通讯
      </h2>
      <div class="text-neutral-500 text-lg">我的一些工作项目和一些业余项目</div>
     </div>

     <ul class="flex gap-10 w-full mt-7">
        {
          publishedBlogEntries.slice(0, 2).map((blogPostEntry, index) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="">
                  <Picture
                    src={blogPostEntry.data.image.src}
                    alt={blogPostEntry.data.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    widths={[200, 400, 800]}
                    aspectRatio="16:9"
                    background="#ffffff"
                    fit="cover"
                    position="center"
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md"
                  />
                  <div>
                    <h2 class="text-lg font-semibold leading-snug tracking-tight mt-4 text-neutral-800">
                      {blogPostEntry.data.title}
                    </h2>

                    <div class="flex gap-1 mt-1 text-sm">
                      <time
                        class="text-gray-500"
                        datetime={blogPostEntry.data.publishDate.toISOString()}>
                        {blogPostEntry.data.publishDate.toDateString()}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <a href="/blog" class="font-semibold mt-6 hover:opacity-70 transition">
        更多文章 ->
      </a>
  </div>
</section>
