---
const projects = [
  {
    title: "NotionChina",
    description: "Notion 中文站,帮助国内用户学习和使用 Notion",
    year: "2021",
    url: "https://notionchina.co",
    imageUrl:
      "https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/eca705b1-3ab5-41dd-6a80-05ae86457700/public",
  },
  {
    title: "FigmaChina",
    description: "Figma 中文站,帮助国内用户学习和使用 Figma",
    year: "2019",
    url: "https://figmachina.com",
    imageUrl:
      "https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/8018af44-21ef-468e-ca1b-fce21075c400/public",
  },
  {
    title: "Elife",
    description:
      "自己常用的在线工具合集,主页的生命倒计时器用于告诫自己要珍惜时间",
    year: "2017",
    url: "https://startelife.com",
    imageUrl:
      "https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/638083e9-e724-4661-024e-2a7d65aeb500/public",
  },
];
---

<div class="space-y-6">
  {
    projects.map(({ title, description, year, url, imageUrl }) => (
      <a
        href={url}
        class="flex justify-between items-center w-full py-3 border border-neutral-200 rounded-xl px-6">
        <div class="flex gap-4 items-center">
          <img src={imageUrl} class="w-20 h-20 rounded-md" />
          <div class="space-y-2">
            <div class="space-y-1">
              <h2 class="text-lg font-semibold leading-snug tracking-tight text-neutral-800">
                {title}
              </h2>
              <div class="text-gray-500 text-sm">
                <span class="">{year} · </span>
                {description}
              </div>
            </div>
          </div>
        </div>
        <div class="text-sm font-medium">访问网站 -></div>
      </a>
    ))
  }
</div>
