---
import { Image } from "astro:assets";

const projects = [
  {
    title: "NotionChina",
    description: "Notion 中文站,帮助国内用户学习和使用 Notion",
    year: "2021",
    url: "https://notionchina.co",
    imageUrl:
      "https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/687dc2f2-6725-481c-89f5-59b191ef8f00/public",
    cover: "",
  },
  {
    title: "FigmaChina",
    description: "Figma 中文站,帮助国内用户学习和使用 Figma",
    year: "2019",
    url: "https://figmachina.com",
    imageUrl:
      "https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/3eb5dcf2-ac9e-430b-1bf8-119a378c3a00/public",
    cover: "",
  },
  // {
  //   title: "Elife",
  //   description:
  //     "自己常用的在线工具合集,主页的生命倒计时器用于告诫自己要珍惜时间",
  //   year: "2017",
  //   url: "https://startelife.com",
  //   imageUrl:
  //     "https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/638083e9-e724-4661-024e-2a7d65aeb500/public",
  //   cover: "",
  // },
];
---

<div class="grid grid-cols-2 gap-6">
  {
    projects.map(({ title, description, year, url, imageUrl }) => (
      <a
        href={url}
        class="flex justify-between items-center w-full py-4 border border-neutral-200 rounded-xl px-6">
        <div class="relative space-y-8 mb-4 w-full">
          <div class="space-y-2">
            <Image
              src={imageUrl}
              class="w-[52px] h-[52px] rounded-md absolute right-0"
              inferSize
              alt="logo"
            />
            <h2 class="text-xl font-semibold leading-snug tracking-tight text-neutral-800">
              {title}
            </h2>
            <div class="text-gray-500 text-sm">
              <span class="">{year} · 独立开发</span>
            </div>
            <div class="leading-6">{description}</div>
          </div>
          <div class="text-sm font-medium">访问网站 -></div>
        </div>
      </a>
    ))
  }
</div>
