---
const resources = [
  {
    href: "https://afdian.com/item/40d6ab9a3a9111ee96535254001e7c00",
    badgeText: "¥12",
    title: "极简简历模版包",
    buttonText: "获取 ->",
    className: "cv",
  },
  {
    href: "https://zuozizhen.lemonsqueezy.com/checkout/buy/0c70f01e-b150-4175-b286-ed21ee5a57b6",
    badgeText: "免费",
    title: "Notion 极简简历模版",
    buttonText: "获取 ->",
    className: "cv-notion",
  },
  {
    href: "https://zuozizhen.lemonsqueezy.com/checkout/buy/a8c1d2ff-7a1c-41e8-a6b7-3b38c3ec60ad",
    badgeText: "免费",
    title: "Figma 极简简历模版",
    buttonText: "获取 ->",
    className: "cv-figma-free",
  },
  {
    href: "https://www.notion.so/zh-cn/templates/personal-year-end-summary",
    badgeText: "免费",
    title: "Notion 个人年终总结模版",
    buttonText: "获取 ->",
    className: "year-end-notion",
  },
];
---

<div class="grid sm:grid-cols-3 grid-cols-1 gap-6">
  {
    resources.map(({ href, badgeText, title, buttonText, className }) => (
      <a
        href={href}
        class={`lemonsqueezy-button rounded-lg p-6 relative card-resource ${className} border border-neutral-200 hover:shadow-lg`}
      >
        <div class="bg-neutral-800 py-1 px-2 w-fit rounded text-xs mb-2.5 font-semibold text-white">
          {badgeText}
        </div>
        <h2 class="text-xl font-semibold mb-2">{title}</h2>
        <div class="text-sm font-medium">{buttonText}</div>
      </a>
    ))
  }
</div>
<!-- <a href="/resource" class="rounded-lg p-6 relative card-resource border border-neutral-200 hover:shadow-lg flex items-center justify-center flex-col" target="_blank">
    <h2 class="text-lg font-semibold mb-1 ">Notion 个人年终总结模版</h2>
    <div class="text-sm font-medium">更多 -></div>
  </a> -->
