---
// @ts-ignore
import { Icon } from "astro-icon";

const tools = [
  {
    name: "Framer",
    img: "https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/930470f1-fc01-4f9d-e473-4d84771c3100/public",
    desc: "创建漂亮的网站。",
    button: {
      text: "获取 ->",
      link: "/",
    }
  },
  {
    name: "Framer",
    img: "https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/930470f1-fc01-4f9d-e473-4d84771c3100/public",
    desc: "创建漂亮的网站。",
    button: {
      text: "获取 ->",
      link: "/",
    }
  },
  {
    name: "Framer",
    img: "https://imagedelivery.net/8B08sdLvw783CQcaKhUoYw/930470f1-fc01-4f9d-e473-4d84771c3100/public",
    desc: "创建漂亮的网站。",
    button: {
      text: "获取 ->",
      link: "/",
    },
  },
];
---

<section class="introduction relative py-12">
  <div class="max-w-screen-lg mx-auto px-0">
    <div class="space-y-2 mb-7">
      <h2 class="text-2xl font-semibold ">
        我喜欢的工具
      </h2>
      <div class="text-neutral-500 text-lg">我每天都使用这些工具进行 UI/UX 设计、项目管理、Web 开发等。</div>
     </div>

     <div class="grid grid-cols-2 gap-6">
      {
        tools.map((item) => (
            <div class="flex items-center gap-4">
              <img class="w-20 h-20 rounded-xl" src={item.img} alt="">
              <div>
                <h2 class="text-lg font-semibold mb-1">{item.name}</h2>
                <div class="mb-2 text-neutral-500">{item.desc}</div>
                <a href={item.button.link} class="text-sm font-medium">{item.button.text}</a>
              </div>
            </div>
          ))
        }
    </div>
  </div>
</section>
